@import url("/css/style.css");

body {
    background-color: #fff;
    color: #0A3641;
}


.about-us {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 70vh; 
    margin-top: 50px;
}

.about-us img {
    width: 100%;
    height: auto;
    max-width: 800px;
    border-radius: 5px;
}

.about-us-content {
    grid-column: 2 / 3; 
    align-self: center; 
    justify-self: center; 
    text-align: left; 
    max-width: 70%;
    margin-bottom: 100px;
    font-family: 'Din Alternate';
    font-size: 1.4em;
    line-height: 150%;

}

.about-us-content h2 {
    font-size: 2em;
}

@media (max-width:400px) {

    .about-us {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 10px;
    }

    .about-us img {
        margin-bottom: 20px;
    }

    .about-us-content {
        margin-bottom: 20px;
        min-width: 85%
    
    }
}

@media (min-width: 401px) and (max-width:600px) {

    .about-us {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
    }

    .about-us img {
        margin-bottom: 20px;
    }

    .about-us-content {
        margin-bottom: 20px;
        min-width: 85%
    
    }
}


@media (min-width: 601px) and (max-width: 1000px) {
     
    body {
        margin: auto;
    }
    .about-us {
        display: flex;
        flex-direction: column-reverse;
        margin: auto;
    }

    .about-us img {
        margin: auto;
        width: 80%;
    }

    .about-us-content {
        margin-bottom: 20px;
        min-width: 70%
    
    }
}

