@import url("/css/style.css");

body {
    color: #0A3641;
}

h1 {
    text-transform: uppercase;
}

.new-arrivals {
    text-transform: uppercase;
    display: grid;
}

.new-arrivals h1 {
    text-align: center;
}

.home-womens-products, .home-mens-products, .new-arrivals {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #fff;   
    border-radius: 5px;
    padding: 0px 20px;
    margin: 30px 0px;
    min-width: 300px;
}

.home-womens-products, .home-mens-products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto 1fr auto;
    grid-gap: 10px;
    min-height: 400px;
}

.women-products, .men-products {
    padding-top: 30px;
    grid-row: 2 / 3 ;
    
}

.womens-products p, .products p {
    padding-top: 20px;
    grid-row: 3 / 4 ;
}


.home-womens-products h1, .home-mens-products h1 {
    grid-column: 1 / 5;
    background-color: #56747C;
    color: #fff;
    padding: 20px;
    margin-bottom: 0px;
    border-radius: 5px;
}


.new-arrivals img {
    width: 500px;
    height: auto;

}



.women-products img, .men-products img {
    width: 100%;
    height: auto;
}


.about-us-home {
    display: flex;
    background-color: #56747C;
    background-image: url(/images/about-us.jpg);
    background-repeat: no-repeat;
    max-width: 1600px;
    padding: 190px;
    margin: 40px auto;
    border-radius: 5px;
    
}

.about-us-content-home {
    display: block;
    color: #ffffff;
    font-size: 1.5em;

}
