@import url("/css/style.css");

.new-arrivals {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;

}

.new-arrivals h1 {
    text-align:center;
}

.home-womens-products, .home-mens-products, .new-arrivals {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #fff;   
    border-radius: 5px;
    padding: 50px;
    margin: 40px auto;
    min-width: 300px;
}

.new-arrivals img {
    width: 500px;
    height: auto;

}
.women-products, .men-products {
    display: inline-block
}


.women-products, .men-products img {
    width: 250px;
    height: auto;
}


.about-us-home {
    display: flex;
    background-color: #56747C;
    background-image: url(/images/about-us.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    padding: 180px;
    max-width: 1600px;
    margin: 40px auto;
    border-radius: 5px;
    
}

.about-us-content-home {
    color: #000;
    font-size: 1.5em;

}
