@import url("/css/style.css");

body {
    color: #0A3641;
}

h1 {
    text-transform: uppercase;
}

.cta {
    background-color: #0A3641;
    color:#fff;
    text-decoration: none;
    padding: 20px 80px;
    border-radius: 10px;
    font-size: 1.4em;
    text-transform: uppercase;

}

.new-arrivals {
    text-transform: uppercase;
    display: grid;
}

.new-arrivals h1 {
    text-align: center;
}

.home-womens-products, .home-mens-products, .new-arrivals {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #fff;   
    border-radius: 5px;
    padding: 0px 20px;
    margin: 30px 0px;
    min-width: 300px;
}

.home-womens-products, .home-mens-products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto 1fr auto;
    grid-gap: 10px;
    min-height: 400px;
}

.women-products, .men-products {
    padding-top: 30px;
    grid-row: 2 / 3 ;
    
}

.womens-products p, .products p {
    padding-top: 20px;
    grid-row: 3 / 4 ;
}


.home-womens-products h1, .home-mens-products h1 {
    grid-column: 1 / 5;
    background-color: #56747C;
    color: #fff;
    padding: 20px;
    margin-bottom: 0px;
    border-radius: 5px;
}


.new-arrivals img {
    width: 500px;
    height: auto;

}

.women-products img, .men-products img {
    width: 100%;
    height: auto;
}


.about-us-home {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    background-color: #769299;
    max-width: 1600px;
    margin: 70px auto;
    border-radius: 5px;
    
}

.about-us-content-home {
    grid-column: 2 / 3;
    color: #ffffff;
    font-size: 1.5em;
    text-align: left;
    justify-self: center;
    line-height: 200%;
    font-size: 1.7em;
    margin-top: 70px;

}

.about-us-home img {
    grid-column: 1 / 2;
    border-radius: 5px;
}

.about-us-content-home h2 {
    font-family: 'Din Condensed';
    text-transform: uppercase;
}