@import url(/css/style.css);
@import url(/css/products.css);




body {
    background-color: #fff;
    color: #0A3641;
    min-height: 100vh;
}


.product-details {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    border-radius: 5px;
    margin: 60px auto;
    max-width: 1000px;
    justify-items: center;
}

.product-details img {
    max-width: 400px;
    height: auto;
    grid-row: 1 / 6;
}

.product-details-content {
   max-width: 400px;
   border: 1px solid #0A3641;
   padding: 20px 20px 50px 20px;
   border-radius: 5px;
   
}

.product-details p {
    font-family: sans-serif;
    font-size: 1em;
    line-height: 1.4em;
   
}

.product-details h3 {
    font-size: 2em;
}

@media (max-width: 600px) {

    body {
        background-color: #C4CFD1;
    }
    .product-details {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-left: 40px;
        font-size: 1.7em;
    }

    .add-to-cart {
        max-width: 190px;
        margin: auto 20px;
        text-align: center;
    }

    .product-details img {
        border: 1px solid #0A3641;
        padding: 20px;
        border-radius: 5px;
        background-color: #fff;
        
    }

    .product-details-content {
        background-color: #fff;
    }

    .product-details-content h3 {
        margin-top: 0px;
        background-color: #fff;
    }
}

@media (min-width: 601px) and (max-width: 1000px) {
    
    .product-details img {
        max-width: 300px;
        margin-top: 20px;
    }

    .product-details-content {
        max-width: 300px;
    }

}