@import url(/css/style.css);
@import url(/css/index.css);

/*Women's & Men's Jackets Page*/

body {
    color: #0A3641;
    min-height: 100vh;
}

main {
    margin: 70px;
}

.cta {
    background-color: #0A3641;
    color:#fff;
    text-decoration: none;
    padding: 20px 80px;
    border-radius: 10px;
    font-size: 1.4em;
    text-transform: uppercase;

}

/*Products Lists*/

.products-list-women, .products-list-men {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr auto auto;
    grid-gap: 10px 30px;
}

.products-w, .products-m {
    display: grid;
    place-items: center space-evenly;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    grid-row: 2 / 3 ;
    border: 1px solid #0A3641;
    
}

.products-w p, .products-m p {
    text-transform: uppercase;
    font-size: 1.5em;
    grid-row: 2 / 3 ;
    align-self: end;
}

.products-w a, .products-m a {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    place-content: center;
    text-align: center;
}

.products-w img, .products-m img {
    grid-row: 1 / 2;
    width: 100%;
    max-width: 250px;
    height: auto;
    margin: auto;
}


@media (max-width: 600px) {

    body {
        min-height: 100vh;
    }

    main {
        margin: 10px 20px;
    }
  
    .products-list-women, .products-list-men {
        display: flex;
        flex-direction: column;
        text-align: left;
    }

}


@media (min-width: 601px) and (max-width: 1000px) {
    
    body {
        min-height: 100vh;
        min-width: 100vh;
    }
    
    main {
       margin: 20px;
    }

    .products-list-women, .products-list-men {
        display: flex;
        flex-wrap: wrap;
        text-align: left;
        gap: 20px;
    }

    .products-w, .products-m {
            flex-basis: calc(50% - 20px); 
            box-sizing: border-box; 
        }        
}

   
