body {
    font-family: 'Din Condensed';
    min-height: 100vh;
    margin: 0px;
    background-color: #C4CFD1;
}

h1, h2, h3 {
    font-family: 'Din Alternate';
}

a {
    text-decoration: none;
}

nav {
    background-color: #56747C;
    padding: 10px;
    
}

nav li {
    display: inline-block;
    font-size: 1.5rem;
    text-transform: uppercase;
}

nav a {
    text-decoration: none;
    color: white
}

img {
    width: 100%;
}

header {
    background-color: #C4CFD1;
    padding:30px 0px 0px 0px;
}

.logo-container {
    text-align: center;
    padding-top: 0px
} 


.logo {
    text-decoration: none;
    color: #0A3641;
    font-size: 2.7em;
    text-transform: uppercase;
}

main {
    margin: 50px;
}